<div class="traits-technology">
        <div class="col-md-12 tt">
            <h3>Welcome to TDM MANAGEMENT CONSULTING </h3>
                <p> TDM Management Consulting is a training, consulting, and ICT firm in South Africa committed to working with leading organizations across the private, public and social sectors. We provide market driven training and research programmes that suit the needs of both the private and public sector to meet the challenges of the global economy, additionally we provide tailor made ICT sollutions which ensure highest productivity and efficiency. We have a deep functional and industry expertise across Southern Africa.</p>
        </div>
        <div class="container">
            <div class="row">
                    
                            <div class="col-md-6">
                            <li><a href="#">Advanced Integrated Microsoft Office for PA's </a></li>
                            <li><a href="#">Applied Budgeting and Performance Systems for Public Finance Institutions </a></li>
                            <li><a href="#">Data Management and Analysis with PivotTables </a></li>
                            </div>
                            <div class="col-md-6">
                            <li><a href="#">Developing Professional Dashboards for Financial Managers </a></li>
                            <li><a href="#">Developing Professional Dashboards for Human Resources </a></li>
                            <li><a href="#">Developing Professional Dashboards using Excel 2010 </a></li>
                            </div>
            </div>
        </div>

            <span><a routerLink="/services" class="btn btn-danger bt" role="button">More</a></span>
        </div>